body {
    font-size: 12px;
}
a{
    color: #000;
}
input[type=checkbox] {
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 12px;
    height: 18px;
    position: relative;
}

input[type=checkbox]:after {
    position: absolute;
    width: 12px;
    height: 18px;
    top: 0;
    content: " ";
    background-color: #f8584f;
    color: #fff;
    display: inline-block;
    visibility: visible;
    padding: 0px 3px;
    border-radius: 3px;
}

input[type=checkbox]:checked:after {
    content: " ✓";
    font-size: 12px;
}

.mbshop_new_headtop {
    width: 100%;
    height: 60px;
    margin-top: 8px;
    border-top: 1px solid #dcdcdc;
}

.mbshop_flowHead {
    width: 100%;
    height: 27px;
    border-bottom: 1px #ccc solid;

    .mbshop_flowHeadContent {
        width: 1200px;
        float: none;
        margin: 0 auto;
        height: 27px;
        position: relative;
        clear: both;

        span {
            width: 398px;
            height: 30px;
            padding: 0;
            right: 0;
            display: block;
            background-image: url(../css/img/bgAll.png);
            background-repeat: no-repeat;
            position: absolute;
            z-index: 1;
            background-position: 0 -1578px;
        }
    }
}

.mbshop_cart_1127_tab_up {
    float: none;
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 15px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    height: 42px;
}

.mbshop_cart_1127_tab {
    width: 1200px;
    height: auto;
    overflow: hidden;
    background: #f8f7f7;
    margin: 20px auto 0;

    li {
        float: left;
        line-height: 40px;
        text-align: left;
        font-size: 12px;
    }

    .mbshop_cart_1127_01 {
        width: 126px;

        .mbshop_checkbox {
            margin-left: 10px;

            .iconfont {
                top: 10px;
                font-family: bgweb-iconfont;
                font-size: 18px;
                font-style: normal;
                color: #ccc;
                display: inline-block;
                height: 18px;
                width: 18px;
                
            }
            b {
                margin-left: 12px;
                font-weight: 400;
            }

        }
    }

    .mbshop_cart_1127_02 {
        width: 250px;
    }

    .mbshop_cart_1127_03 {
        width: 208px;
    }

    .mbshop_cart_1127_04 {
        width: 210px;
    }

    .mbshop_cart_1127_05 {
        width: 177px;
    }

    .mbshop_cart_1127_07 {
        width: 155px;
    }

    .mbshop_cart_1127_09 {
        width: 74px;
    }
}

.mbshop_cart_1127_warp_box {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    float: none;

    .mbshop_top_tips {
        height: 36px;
        line-height: 36px;
        font-weight: 400;
        background-color: #f9f2df;
        padding-left: 15px;

        .strong {
            color: #f8584f;
            display: inline-block;
            margin: 0 2px;
        }

        a {
            color: #000;
        }

        b { 
            cursor: pointer;
            font-size: 19px;
            color: #f8584f;
            float: right;
            font-weight: normal;
            margin-right: 20px;
        }
    }

    .mbshopAll {
        border: 1px solid #ccc;
        width: 1200px;
        box-sizing: border-box;
        margin-top: 20px;

        .banggo_cart_tab {
            width: 100%;
            height: 40px;
            line-height: 40px;
            background: #fdf6ee;
            font-size: 12px;
            font-family: "微软雅黑";
            float: none;
            border-bottom: 1px solid #eaeaea;

            .mbshop_checkbox {
                position: relative;
                cursor: pointer;
                display: inline-block;
                padding-left: 12px;
                width: auto;
                height: 100%;

                b {
                    margin-left: 12px;
                    font-weight: 400;
                }
            }

            em {
                float: right;
                margin-right: 40px;
            }
        }

        .mbshop_cart_1127_single_warp_box {
            border: none;
            border-bottom: 1px solid #eaeaea;
        }

        .mbshop_cart_1127_single_warp_box {
            width: 100%;
            height: auto;

            .mbshop_cart_1127_single_label {
                width: 100%;
                height: auto;
                overflow: hidden;
                background: #fcf6ee;
                float: none;
                position: relative;
                margin-top: 10px;
                border-top: 1px solid #eaeaea;

                .mbshop_cart_1127_single_label_00 {
                    float: left;

                    span {
                        display: block;
                        float: left;
                        color: #fff;
                        border-radius: 3px;
                        margin: 8px 10px;
                        background: #f8584f;
                        height: 25px;
                        line-height: 25px;
                        width: 55px;
                        text-align: center;
                    }
                }
            }

            .mbshop_cart_1127_single_label_ex {
                width: 1120px;
                float: left;
                margin-left: 3px;

                p {
                    overflow: hidden;
                    width: 100%;
                    line-height: 41px;
                    border-top: 1px solid #eaeaea;

                    i {
                        font-style: normal;
                        float: left;
                        font-weight: 400;
                        a{
                            display: block;
                            float: left;
                            height: 31px;
                            color: #000;
                            text-decoration: none;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .mbshop_cart_1127_single_goods {
                width: 100%;
                height: 120px;
                padding: 20px 0;
                border-top: 1px solid #eaeaea;
                box-sizing: border-box;
                li {
                    float: left;
                    height: 100%;
                    line-height: 22px;
                    text-align: center;
                    .mbshop_cart_1127_single_goods_checkbox {
                        width: 15px;
                        height: 15px;
                        margin-top: 33px;
                    }
                }
                .mbshop_cart_1127_single_01 {
                    width: 38px;
                }
                .mbshop_cart_1127_single_02 {
                    width: 296px;
                    dl {
                        width: 500px;
                        height: auto;
                        overflow: hidden;
                        dt {
                            float: left;
                            width: 78px;
                            height: 78px;
                            border: 1px solid #eaeaea;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        dd {
                            width: 206px;
                            height: auto;
                            float: left;
                            padding-left: 10px;
                            box-sizing: border-box;
                            font-size: 12px;
                            p {
                                width: 148px;
                                text-align: left;
                                overflow: hidden;
                                line-height: 20px;
                            }
                            i {
                                width: 100%;
                                display: block;
                                text-align: left;
                                font-style: normal;
                                color: #999;
                            }
                            .mbshop_cart_1127_b {
                                width: 410px;
                                height: auto;
                                overflow: hidden;
                                line-height: 16px;
                                text-align: left;
                                 b {
                                    display: inline-block;
                                    text-align: left;
                                    font-weight: normal;
                                    font-style: normal;
                                    margin-bottom: 3px;
                                    color: #f8584f;
                                    box-sizing: border-box;
                                    margin-left: 10px;
                                }
                                .icon_grey{
                                    color: #c7c7c7;
                                }
                            }
                        }

                    }
                }
                .mbshop_cart_1127_single_03 {
                    width: 190px;
                    box-sizing: border-box;
                    p {
                        line-height: 15px;
                        text-align: left;
                        padding-left: 50px;
                        box-sizing: border-box;
                    }
                }
                .mbshop_cart_1127_single_04 {
                    width: 160px;
                    padding-right: 20px;
                    i {
                        text-decoration: line-through;
                        display: block;
                        font-style: normal;
                        color: #ccc;
                    }
                    em {
                        display: block;
                        font-weight: 700;
                    }
                    #main_box {
                        width: 80px;
                        height: 25px;
                        margin-left: 66px;
                        float: none;
                        cursor: pointer;
                        .select_box {
                            width: 80px;
                            position: relative;
                            text-align: left;
                            div {
                                line-height: 25px;
                                width: 80px;
                                text-align: left;
                                padding-left: 7px;
                                box-sizing: border-box;
                                height: 25px;
                                border: 1px solid #ccc;
                                background: url(../css/img/bgAll.png) 59px -251px no-repeat;
                            }
                            .son_ul {
                                display: none;
                                width: 177px;
                                position: absolute;
                                left: 1px;
                                top: 25px;
                                background: #fff;
                                margin-left: -1px;
                                height: auto;
                                border: 1px solid #ccc;
                                z-index: 990;
                                li {
                                    cursor: pointer;
                                    text-align: left;
                                    height: 35px;
                                }
                            }
                        }
                    }
                }
                .mbshop_cart_1127_single_05 {
                    margin-left: 10px;
                    width: 86px;
                    padding: 0 47px;
                    
                    .mbshop_cart_1127_single_label_left {
                        float: left;
                        width: 16px;
                        height: 23px;
                        line-height: 21px;
                        font-size: 14px;
                        cursor: pointer;
                        border: 1px solid #ccc;
                        border-right: 0;
                        background: #f0f0f0;
                    }
                   .mbshop_cart_1127_single_goods_num {
                        width: 40px;
                        height: 23px;
                        text-align: center;
                        float: left;
                        border: 1px solid #aaa;
                    }
                    .mbshop_cart_1127_single_label_right {
                        float: left;
                        width: 16px;
                        height: 23px;
                        line-height: 21px;
                        font-size: 14px;
                        cursor: pointer;
                        border: 1px solid #ccc;
                        border-left: 0;
                        background: #f0f0f0;
                    }
                }
                .mbshop_cart_1127_single_07 {
                    font-weight: 700;
                    color: #f8635b;
                    width: 180px;
                }
                .mbshop_cart_1127_single_09 {
                    padding-right: 22px;
                    box-sizing: border-box;
                    width: 98px;
                    a {
                        display: block;
                        color: #000;
                        text-align: right;
                    }
                }
            }
        }
    }
    .go_to_balance_warp {
        width: 1200px;
        height: 61px;
        margin: 30px auto 0;
        
        .go_to_balance {
            width: 1200px;
            height: 60px;
            position: fixed;
            margin: 0 auto;
            bottom: 0;
            z-index: 99;
            background: #f7f7f7;
            .go_to_balance_left {
                width: 1048px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 14px;
                float: left;
                .mbshop_checkbox, .mbshop_radio {
                    position: relative;
                    cursor: pointer;
                    float: left;
                    // display: inline-block;
                    padding-left: 13px;
                    width: auto;
                    height: 100%;
                    b{  
                        margin-left: 10px;
                        font-weight: normal;
                    }
                    
                }
                .go_to_balance_left_del {
                    float: left;
                    margin-left: 10px;
                    cursor: pointer;
                }
                .go_to_balance_left_clean {
                    float: left;
                    margin-left: 20px;
                    cursor: pointer;
                }
                .go_to_balance_left_total {
                    margin-right: 20px;
                    float: right;
                    i {
                        font-style: normal;
                        font-size: 20px;
                        color: #f8584f;
                    }
                }
                .go_to_balance_left_alg{
                    margin-right: 20px;
                    float: right;
                }
                .go_to_balance_left_have {
                    float: right;
                    margin-right: 20px;
                    em {
                        color: #f8584f;
                        font-size: 18px;
                        margin: 0 5px;
                    }
                }
                
            }
            .go_to_balance_right {
                float: right;
                width: 144px;
                height: 60px;
                text-align: center;
                line-height: 60px;
                font-size: 26px;
                color: #fff;
                background: red;
                font-family: "微软雅黑";
            }
        }
    }
}
.mbshop_cartTabCon {
    width: 1200px;
    float: none;
    margin: 0 auto;
    overflow: hidden;
    .mbshop_cartTabList {
        width: 1200px;
        height: 40px;
        margin-top: 20px;
        border-bottom: 2px #ccc solid;
        position: relative;
        ul {
            width: 1200px;
            height: auto;
            overflow: hidden;
            position: absolute;
            z-index: 110;
            bottom: -2px;
            li {
                color: #333;
                border-bottom: 2px #666 solid!important;
                float: left;
                display: block;
                width: auto;
                height: auto;
                padding: 10px 30px;
                // border-bottom: 2px #ccc solid;
                cursor: pointer;
                font-weight: 700;
                // color: #ccc;
            }
        }
    }
    .mbshop_cartTabBox {
        width: 1200px;
        float: none;
        margin: 0 auto;
        overflow: hidden;
        padding-top: 15px;
        .mbshop_cartTabBoxCon {
            width: 1200px;
            overflow: hidden;
            float: left;
            margin: 0;
            position: relative;
            .mbshop_cartRecBtn_fl,.mbshop_cartRecBtn_fr{
                width: 90px;
                height: 228px;
                display: block;
                cursor: pointer;
                position: absolute;
                z-index: 100;
                background: url(../img/mbshop_btn_scroll.png) 0px 0px no-repeat;
                
                top: 30px;
            }
            .mbshop_cartRecBtn_fr{
                right: 0;
                background: url(../img/mbshop_btn_scroll.png) -90px -0 no-repeat;
            }
            .mbshop_cartRecAreaList {
                height: 290px;
                margin: 0;
                padding: 0;
                position: relative;
                float: left;
                display: block;
                overflow: hidden;
                .mbshop_cartRecAreaCon ul {
                    width: auto;
                    height: auto;
                    float: left;
                    display: block;
                    li {
                        width: 228px;
                        height: 290px;
                        float: left;
                        margin-right: 15px;
                        a {
                            
                            width: 228px;
                            height: 228px;
                            img{
                                width: 228px;
                                height: 228px;
                            }
                        }
                        .mbshop_cartListPdText {
                            float: left;
                            display: block;
                            width: 228px;
                            height: auto;
                            padding-top: 5px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            i {
                                margin-left: 10px;
                                text-decoration: line-through;
                            }
                            .veo_to_shop {
                                width: auto;
                                height: auto;
                                float: right;
                                padding: 3px 7px;
                                border-radius: 4px;
                                border: 1px solid #999;
                            }
                        }
                    }
                }
            }
        }
    }
}
.mbshop_openpop_mask {
    display: none;
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=60);
    opacity: .6;
}
.mbshop_openpop {
    display: none;
    position: fixed;
    z-index: 999;
    width: 700px;
    height: 200px;
    left: 50%;

    top: 242px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

    .mbshop_openpop_title {
        color: #333;
        font: 14px "微软雅黑", "宋体", verdana;
        float: left;
        height: auto;
        border-bottom: 1px #ccc solid;
        width: 100%;
        display: block;
        padding: 8px 0;
        background: #fafafa;

        span {
            float: left;
            display: block;
            padding-left: 10px;
        }

        .mbshop_openpop_close {
            background: url(../img/Shouye/icons.png) -16px -1583px no-repeat;
            float: right;
            display: block;
            width: 15px;
            height: 15px;
            margin-right: 10px;
            color: #666;
        }
    }

    .mbshop_openpop_con {
        width: 100%;
        background: #fff;
        padding: 0;

        .mbshop_openpop_buyArea {
            width: 100%;

            .mbshop_openpop_addSuccess {
                font: 700 20px "微软雅黑", "宋体", verdana;
                padding-top: 30px;
            }

            span {
                width: 100%;
                float: left;
                display: block;
                padding-top: 20px;
                text-align: center;
            }

            .mbshop_openpop_btnGoPay {
                background-color: #f8584f;
                float: left;
                padding: 8px 40px;
                color: #fff;
                margin-left: 200px;
            }

            .mbshop_openpop_btnGoShop {
                background-color: #fff;
                float: right;
                padding: 7px 39px;
                color: #999;
                margin-right: 200px;
                border: 1px solid #c7c7c7;
            }
        }
    }

    .mbshop_openpop_productRecommend {
        width: 100%;
        margin: 30px 0;
    }
}
.iconfontselect {
    color: #f8584f;
}